/* Style the body */
body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    margin: 20px 20px 0 20px;
}

/* Style for h1 */
h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

/* Style for h2 */
h2 {
    font-size: 30px;
    color: #0D0D0D;
}

/* Style for paragraphs */
p {
    font-size: 24px;
    padding: 10px 0 0 10px;
}

/* Style for images */
img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #FFFFFF;
}

/* Style for default div elements */
div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #FFFFFF;
}

/* Style for introduction class */
.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

/* Style for red class */
.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid;
    border-left: 5px solid;
}

/* Style for blue div */
.blue {
    background-color: #0000FF;
    color: #C4C4C4; /* Fix color contrast */
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid;
    border-top: 2px solid;
}
.blue h2{
    color: #C4C4C4;
}

/* Style for yellow div */
.yellow {
    background-color: #FFFF00;
    color: #707070; /* Fix color contrast */
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid;
    border-left: 5px solid;
}

/* Style for green div */
.green {
    background-color:#008500; /* Green color option */
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid;
    border-top: 2px solid;
}

/* Style for footer */
footer {
    background: linear-gradient(to right, #000000, #0000ff 25%, #0066ff 70%, #000000);
    border: 5px solid #FFFFFF;
}

/* Style for paragraphs within footer */
footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0;
}
